.commentlist {
    padding: 0.2em 1em;
}

.buttonbar {
    display: flex;
    flex-direction: row-reverse;
}
.button {
    flex: 0;
    background: var(--button-bg-color);
    color: var(--button-text-color);
    border-radius: 0.3em;
    padding: 0.3em;
    margin: 0.2em;
    cursor: pointer;
    white-space: nowrap;
}
.button-long {
    display: none;
}
@media(min-width: 50em) {
    .button-short {
        display: none;
    }    
    .button-long {
        display: block;
    }
    
}