.commentlist {
    padding: 0.2em 1em;
}

.buttonbar {
    display: flex;
    flex-direction: row-reverse;
}
.button {
    flex: 0;
    background: blue;
    color: white;
    border-radius: 0.3em;
    padding: 0.3em;
    margin: 0.2em;
    cursor: pointer;
    white-space: nowrap;
}