<div class="commenteditor">
    <div (click)="isEdited=true" class="displayedText">
            {{text}}
    </div>
    <div *ngIf="isEdited" class="commenteditor_curtain"></div>
    <div *ngIf="isEdited" class="commenteditor_window">
        <form>
            <textarea id="commentContent" name="commentContent" required maxlength="200" [(ngModel)]="text" #commentContent="ngModel" ></textarea>
      
            <div *ngIf="commentContent.invalid">      
                <div *ngIf="commentContent.errors.required">
                    Comment body is required.
                </div>
                <div *ngIf="commentContent.errors.maxlength">
                    Comment body besteht maximal 200 Zeichen.
                </div>      
            </div>
            <div class="buttonbar">
                <div  *ngIf="!commentContent.invalid && !isNetworkError" (click)="save()" class="button" [class.is-saving]="isSaving">Ok</div>
                <div *ngIf="!isSaving" (click)="cancel()" class="button">Abbrechen</div>
            </div>
            <div *ngIf="isNetworkError" class="networkErrorMessage">Network Error. Please try later.</div>
        </form>
    </div>
</div>
