
.displayedText {
    cursor: pointer;
    background-color: var(--editable-comment-bg-color);
    box-shadow: 0.02em 0.02em 0.2em 0.02em black inset;
    border-radius: 0.2em;
    padding: 0.2em;
    word-wrap: break-word;    
}
.displayedText:hover {
    background-color: var(--editable-comment-bg-hover-color);
}
.commenteditor_curtain {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0.2em;
    right: 1em;
    left: 1em;
    bottom: 0.2em;
    border-radius: 2em;
    padding: 0.5em;
}
.commenteditor_window {
    margin: 1em auto 0 auto;
    padding: 2em;
    max-width: 30em;
    border-radius: 2em;
    background-color: var(--modal-window-bg-color);
}

textarea {
    width: 95%;
    height: 100px;
    font-family: 'Roboto Mono', monospace;
}

.error {
    color: var(--text-error-color);
    font-weight: bold;
}

.buttonbar {
    display: flex;
    flex-direction: row-reverse;
}
.button {
    flex: 0;
    background: var(--button-bg-color);
    cursor: pointer;
    color: var(--button-text-color);
    border-radius: 0.3em;
    padding: 0.3em;
    margin: 0.2em;
}

.button.is-saving {
    position: relative;
    color: transparent;                     
}
.button.is-saving::after {
    position: absolute;
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    top: 50%;                               
    left: 50%;                              
    margin-left: -0.7em;                   
    margin-top: -0.7em;                     
    border-top: 2px solid white;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;   
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);            
    }
}

