
.displayedText {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
    box-shadow: 0.02em 0.02em 0.2em 0.02em black inset;
    border-radius: 0.2em;
    padding: 0.2em;
}
.displayedText:hover {
    background-color: azure;
}
.commenteditor_curtain {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0.2em;
    right: 5em;
    left: 5em;
    bottom: 0.2em;
    border-radius: 2em;
}
.commenteditor_window {
    position: fixed;
    top: 8em;
    right: 7em;
    left: 7em;
    padding: 2em;
    border-radius: 2em;
    background-color: white;
}


textarea {
    width: 95%;
    height: 100px;
}

.error {
    color: red;
    font-weight: bold;
}

.buttonbar {
    display: flex;
    flex-direction: row-reverse;
}
.button {
    flex: 0;
    background: blue;
    cursor: pointer;
    color: white;
    border-radius: 0.3em;
    padding: 0.3em;
    margin: 0.2em;
}

.button.is-saving {
    position: relative;
    color: transparent;                     
}
.button.is-saving::after {
    position: absolute;
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    top: 50%;                               
    left: 50%;                              
    margin-left: -0.7em;                   
    margin-top: -0.7em;                     
    border-top: 2px solid white;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;   
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);            
    }
}

