<div *ngIf="commentData != null" class="comment">
    <div class="user">
        <!-- <div class="post-id">(post id: {{commentData.postId}})</div> -->
        <div class="name">{{commentData.name}}</div>
        <div class="email">(<a href="mailto:{{commentData.email}}">{{commentData.email}}</a>)</div>    
        <div class="comment-id">#{{commentData.id}}</div>
    </div>
    <div class="body">
        <ng-container *ngIf="editable">
            <commenteditor [content]="commentData" (save)="onSave($event)"></commenteditor>
        </ng-container>
        <ng-container *ngIf="!editable">
            {{commentData.body}}
        </ng-container>

    </div>
</div>
