.comment {
    display: block;
    padding: 0.5em;
    margin: 0.5em;
}

.comment {
    border-top: solid 1px black;
}

@media(min-width: 50em) {
    .comment {
        border: solid 1px black;
    }
}

.user {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0.5em;
}
@media(min-width: 50em) {
    .user {
        flex-direction: row;
    }
}
.user .comment-id {
    flex: 2;
    display: inline;
}

.user .email {
    flex: 4;
    display: inline;
    font-style: italic;
    padding-right: 0.8em;
}
.user .email a{
    color: var(--email-text-color);
}

.user .name {
    flex: 8;
    font-weight: bold;
    display: inline;
}

.body {
    word-wrap: break-word;
}
